<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1 class="hello text-center">Check Out Friends</h1>

<table class="table table-striped">
    <thead>
      <th>Who's Out There</th>
      <th>Email</th>
      <th>Picture</th>
      <th>Add as Friend</th>
    </thead>
<tbody>
<% @users.each do |user| %>
<tr>
	<td><%= user.name %></td>
	<td><%= user.email %></td>
	<td><%= user.image_url  %></td>
	<td><%= link_to "<button>See Contact</button>".html_safe, user_path(user.id), :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip" %>

	
</tr>

</tbody>

<% end %>



</div>